source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json

references: strict
redirects: on
framework: net8.0
strategy: min
storage: none

nuget FSharp.Core
nuget WebSharper prerelease
nuget WebSharper.AspNetCore prerelease
nuget WebSharper.CSharp prerelease
nuget WebSharper.Forms prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.MathJax prerelease
nuget WebSharper.MathJS prerelease
nuget WebSharper.Mvu 10.0.0.610-beta1
nuget WebSharper.Testing prerelease
nuget WebSharper.UI prerelease
nuget WebSharper.UI.CSharp prerelease
nuget WebSharper.DateFNS prerelease