source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json

references: strict
redirects: on
framework: net10.0
strategy: min
storage: none

nuget FSharp.Core
nuget WebSharper ~> 10.1
nuget WebSharper.AspNetCore ~> 10.1
nuget WebSharper.CSharp ~> 10.1
nuget WebSharper.Forms ~> 10.1
nuget WebSharper.FSharp ~> 10.1
nuget WebSharper.MathJax ~> 10.1
nuget WebSharper.MathJS ~> 10.1
nuget WebSharper.Mvu ~> 10.1
nuget WebSharper.Testing ~> 10.1
nuget WebSharper.UI ~> 10.1
nuget WebSharper.UI.CSharp ~> 10.1
nuget WebSharper.DateFNS ~> 10.1