<!-- Configure the documentation browser at websharper.com/docs.
     Attributes:
          @key: the URL suffix used after /docs/ to refer to the page (will be escaped)
          @title: the title of the page, used in the sidebar
          @src: the input file for the given page
-->
<folder>
  <section title="Basics">
    <page key="overview"
          title="Overview"
          src="local:../../Animated-Overview.md" />
  </section>
  <section title="Guides">
    <page key="sitelets"
          title="Routing requests and serving content"
          src="local:sitelets.md" />
    <page key="ui"
          title="UI.Next - Functional Reactive Programming and HTML"
          src="local:ui.md" />
  </section>
  <section title="Sample applications">
    <section title="Tutorials">
     <page key="bookcollection"
      title="Book Collection"
      src="https://raw.githubusercontent.com/websharper-samples/BookCollection/master/BookCollection.md"
      lang="csharp"
      description="A simple CRUD application" />
    </section>
  </section>
</folder>
