<!-- Configure the documentation browser at websharper.com/docs.
     Attributes:
          @key: the URL suffix used after /docs/ to refer to the page (will be escaped)
          @title: the title of the page, used in the sidebar
          @src: the input file for the given page
-->
<folder>
  <section title="Getting Started">
    <page key="overview"
          title="Overview"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Overview.md" />
    <page key="install"
          title="Installing in Visual Studio"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Install.md" />
    <page key="install-xs"
          title="Installing in MonoDevelop and Xamarin Studio"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Install-XS.md" />
    <page key="templates"
          title="Project Templates"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/ProjectTemplates.md" />
    <page key="getting-started-csharp"
          title="First steps - C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/GettingStarted-CSharp.md" />
    <page key="getting-started"
          title="First steps - F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/GettingStarted.md" />
    <page key="attributes"
          title="Attribute reference"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Attributes.md" />
    <page key="aspnet"
          title="ASP.NET and ASP.NET MVC integration"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/AspNet.md" />
    <page key="deployment"
          title="Deployment"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Deployment.md" />
    <page key="owin"
          title="OWIN integration"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Owin.md" />
    <page key="running-snippets"
          title="How to run F# examples"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Running-Snippets.md" />
    <page key="ws25to30"
          title="WebSharper 2.5 to 3.0 Upgrade Guide"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/WS25to30.md" />
    <page key="ws36to40"
          title="WebSharper 3.6 to 4.0 Upgrade Guide"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/WS4UpdateGuide.md" />
  </section>
  <section title="Web Development">
    <page key="sitelets-csharp"
          title="Sitelets - C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Sitelets-CSharp.md" />
    <page key="sitelets"
          title="Sitelets - F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Sitelets.md" />
    <page key="sitelets-ref"
          title="Sitelets Inferred URL Cheat Sheet"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Sitelets-Ref.md"/>
    <page key="html-combinators"
          title="HTML Combinators"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/HtmlCombinators.md" />
    <page key="web-context"
          title="Web Context"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/WebContext.md" />
    <page key="html-templates"
          title="HTML templates"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Templates.md" />
    <page key="json"
          title="JSON API"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Json.md" />
    <page key="json-ref"
          title="JSON Cheat Sheet"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/json-ref.md" />
    <page key="cs-remoting"
          title="Remoting - C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Remoting-CSharp.md" />
    <page key="remoting"
          title="Remoting - F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Remoting.md" />
    <page key="ui.next"
          title="UI.Next - C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/UINext-CSharp.md" />
    <page key="ui.next"
          title="UI.Next - F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/UINext.md" />
    <page key="formlets"
          title="Formlets"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Formlets.md" />
    <page key="formlets-ref"
          type="render"
          title="Formlets Cheat Sheet"
          src="docs/formlets-ref" />
    <page key="piglets"
          title="Piglets"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Piglets.md" />
    <page key="piglets-ref"
          type="render"
          title="Piglets Cheat Sheet"
          src="docs/piglets-ref" />
  </section>
  <section title="Working with JavaScript">
    <page key="wig"
          title="WebSharper Interface Generator"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/InterfaceGenerator.md" />
    <page key="bindings"
          title="Manual Bindings"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Bindings.md" />
    <page key="proxying"
          title="Proxying .NET types"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Proxies.md" />
    <page key="cs-translation"
          title="Customizing the JavaScript Translation - C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Translation-CSharp.md" />
    <page key="translation"
          title="Customizing the JavaScript Translation - F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Translation.md" />
    <page key="cs-fs-interop"
          title="C#-F# Interoperability"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/CS-FS-Interop.md" />
    <page key="resources"
          title="Managing Resources"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Resources.md" />
    <page key="source-mapping"
          title="Source Mapping"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/SourceMapping.md" />
    <page key="cs-async"
          title="Task-based Asynchronous Pattern in C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Async-CSharp.md" />
    <page key="async"
          title="Asynchronous workflows in F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Async.md" />
    <page key="cs-linq"
          title="Using LINQ on the client-side"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Linq-CSharp.md" />
    <page key="cs-support"
          title="Overview of supported C# features"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/CSharpSupport.md" />
    <page key="ts-output"
          title="TypeScript Output"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/TypeScriptOutput.md" />
  </section>
  <section title="Mobile Development">
    <page key="mobile"
          title="Overview"
          description="Learn how you can get started with developing WebSharper mobile applications."
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Mobile.md" />
  </section>
  <section title="Insider extensions">
    <page key="extjs"
          title="ExtJS"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/extensions/ExtJS.md" />
    <page key="highcharts"
          title="Highcharts"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/extensions/Highcharts.md" />
    <page key="KendoUI"
          title="KendoUI"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/extensions/KendoUI.md" />
    <page key="Sencha Architect"
          title="Sencha Architect"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/extensions/SenchaArchitect.md" />
    <page key="sencha-touch"
          title="Sencha Touch"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/extensions/SenchaTouch.md" />
  </section>
</folder>
