<!-- Configure the documentation browser at websharper.com/docs.
     Attributes:
          @key: the URL suffix used after /docs/ to refer to the page (will be escaped)
          @title: the title of the page, used in the sidebar
          @src: the input file for the given page
-->
<folder>
  <section title="Getting Started">
    <page key="overview"
          title="Overview"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Overview.md" />
    <page key="install"
          title="Installing in Visual Studio"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Install.md" />
    <page key="install-xs"
          title="Installing in MonoDevelop and Xamarin Studio"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Install-XS.md" />
    <page key="templates"
          title="Project Templates"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/ProjectTemplates.md" />
    <page key="project-variables"
          title="Project Variables"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/ProjectVariables.md" />
    <page key="getting-started-csharp"
          title="First steps - C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/GettingStarted-CSharp.md" />
    <page key="getting-started"
          title="First steps - F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/GettingStarted.md" />
    <page key="attributes"
          title="Attribute reference"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Attributes.md" />
    <page key="aspnet"
          title="ASP.NET and ASP.NET MVC integration"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/AspNet.md" />
    <page key="deployment"
          title="Deployment"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Deployment.md" />
    <page key="owin"
          title="OWIN integration"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Owin.md" />
    <page key="running-snippets"
          title="How to run F# examples"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Running-Snippets.md" />
    <page key="ws25to30"
          title="WebSharper 2.5 to 3.0 Upgrade Guide"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/WS25to30.md" />
    <page key="ws36to40"
          title="WebSharper 3.6 to 4.0 Upgrade Guide"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/WS4UpdateGuide.md" />
  </section>
  <section title="Server-side Web Development">
    <page key="sitelets-csharp"
          title="Sitelets - C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Sitelets-CSharp.md" />
    <page key="sitelets"
          title="Sitelets - F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Sitelets.md" />
    <page key="sitelets-ref"
          title="Sitelets Inferred URL Cheat Sheet"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Sitelets-Ref.md"/>
    <page key="web-context"
          title="Web Context"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/WebContext.md" />
    <page key="json"
          title="JSON API"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Json.md" />
    <page key="json-ref"
          title="JSON Cheat Sheet"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Json-Ref.md" />
    <page key="cs-remoting"
          title="Remoting - C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Remoting-CSharp.md" />
    <page key="remoting"
          title="Remoting - F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Remoting.md" />
  </section>
  <section title="Web Development with UI.Next">
    <page key="ui.next-cs"
          title="Introduction to UI.Next - C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/UINext-CSharp.md" />
    <page key="ui.next"
          title="Introduction to UI.Next - F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext.md" />
    <page key="ui.next-tutorial"
          title="Tutorial"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Tutorial.md" />
    <page key="ui.next-dataflow"
          title="Dataflow"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Dataflow.md" />
    <page key="ui.next-var"
          title="Var"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Var.md" />
    <page key="ui.next-view"
          title="View"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-View.md" />
    <page key="ui.next-leaks"
          title="Leaks"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Leaks.md" />
    <page key="ui.next-sharing"
          title="Sharing"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Sharing.md" />
    <page key="ui.next-monoids"
          title="Monoids"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Monoids.md" />
    <page key="ui.next-eventstreams"
          title="Event Streams"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-EventStreams.md" />
    <page key="ui.next-frp"
          title="Functional Reactive Programming"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-FRP.md" />
    <page key="ui.next-components"
          title="Components"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Components.md" />
    <page key="ui.next-cml"
          title="CML"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-CML.md" />
    <page key="ui.next-clientserver"
          title="Client-side vs Server-side"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-ClientServer.md" />
    <page key="ui.next-api"
          title="API Reference"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-API.md" />
    <page key="ui.next-key"
          title="Key"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Key.md" />
    <page key="ui.next-model"
          title="Model"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Model.md" />
    <page key="ui.next-listmodel"
          title="ListModel"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-ListModel.md" />
    <page key="ui.next-submitter"
          title="Submitter"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Submitter.md" />
    <page key="ui.next-doc"
          title="Doc"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Doc.md" />
    <page key="ui.next-html"
          title="Html"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Html.md" />
    <page key="ui.next-templating"
          title="Templating"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Templates.md" />
    <page key="ui.next-templating3x"
          title="Templating (3.x)"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Templates.3.x.md" />
    <page key="ui.next-attr"
          title="Attr"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Attr.md" />
    <page key="ui.next-animation"
          title="Animation"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Animation.md" />
    <page key="ui.next-anim"
          title="Anim"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Anim.md" />
    <page key="ui.next-easing"
          title="Easing"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Easing.md" />
    <page key="ui.next-interpolation"
          title="Interpolation"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Interpolation.md" />
    <page key="ui.next-normalizedtime"
          title="NormalizedTime"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-NormalizedTime.md" />
    <page key="ui.next-time"
          title="Time"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Time.md" />
    <page key="ui.next-trans"
          title="Trans"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Trans.md" />
    <page key="ui.next-flow"
          title="Flow"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Flow.md" />
    <page key="ui.next-routemap"
          title="RouteMap"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-RouteMap.md" />
    <page key="ui.next-router"
          title="Router"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Router.md" />
    <page key="ui.next-input"
          title="Input"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Input.md" />
    <page key="ui.next-notation"
          title="Notation"
          src="https://raw.githubusercontent.com/intellifactory/websharper.ui.next/master/docs/UINext-Notation.md" />
  </section>
  <section title="Web Development with WebSharper.Html">
    <page key="html-combinators"
          title="HTML Combinators"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/WS.Html.Combinators.md" />
    <page key="html-templates"
          title="HTML templates"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/WS.Html.Templates.md" />
    <page key="formlets"
          title="Formlets"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/WS.Html.Formlets.md" />
    <page key="formlets-ref"
          type="render"
          title="Formlets Cheat Sheet"
          src="docs/formlets-ref" />
    <page key="piglets"
          title="Piglets"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/WS.Html.Piglets.md" />
    <page key="piglets-ref"
          type="render"
          title="Piglets Cheat Sheet"
          src="docs/piglets-ref" />
  </section>
  <section title="Working with JavaScript">
    <page key="wig"
          title="WebSharper Interface Generator"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/InterfaceGenerator.md" />
    <page key="bindings"
          title="Manual Bindings"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Bindings.md" />
    <page key="proxying"
          title="Proxying .NET types"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Proxies.md" />
    <page key="cs-translation"
          title="Customizing the JavaScript Translation - C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Translation-CSharp.md" />
    <page key="translation"
          title="Customizing the JavaScript Translation - F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Translation.md" />
    <page key="cs-fs-interop"
          title="C#-F# Interoperability"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/CS-FS-Interop.md" />
    <page key="resources"
          title="Managing Resources"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Resources.md" />
    <page key="source-mapping"
          title="Source Mapping"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/SourceMapping.md" />
    <page key="cs-async"
          title="Task-based Asynchronous Pattern in C#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Async-CSharp.md" />
    <page key="async"
          title="Asynchronous workflows in F#"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Async.md" />
    <page key="cs-linq"
          title="Using LINQ on the client-side"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Linq-CSharp.md" />
    <page key="cs-support"
          title="Overview of supported C# features"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/CSharpSupport.md" />
    <page key="ts-output"
          title="TypeScript Output"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/TypeScriptOutput.md" />
  </section>
  <section title="Mobile Development">
    <page key="mobile"
          title="Overview"
          description="Learn how you can get started with developing WebSharper mobile applications."
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/Mobile.md" />
  </section>
  <section title="Extensions" route="extensions">
    <page key="extjs"
          title="ExtJS"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/extensions/ExtJS.md" />
    <page key="highcharts"
          title="Highcharts"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/extensions/Highcharts.md" />
    <page key="KendoUI"
          title="KendoUI"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/extensions/KendoUI.md" />
    <page key="Sencha Architect"
          title="Sencha Architect"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/extensions/SenchaArchitect.md" />
    <page key="sencha-touch"
          title="Sencha Touch"
          src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/extensions/SenchaTouch.md" />
      <page key="swiper"
          title="Swiper"
          src="https://raw.githubusercontent.com/intellifactory/websharper.swiper/master/doc/doc.md" />
      <page key="golden-layout"
          title="Golden Layout"
          src="https://raw.githubusercontent.com/intellifactory/websharper.goldenlayout/master/doc/doc.md" />
      <page key="mathjs"
          title="MathJS"
          src="https://raw.githubusercontent.com/intellifactory/websharper.mathjs/master/doc/doc.md" />
      <page key="mathjax"
            title="MathJax"
            src="https://raw.githubusercontent.com/intellifactory/websharper.mathjax/master/doc/doc.md" />
      <page key="remarkable"
            title="Remarkable"
            src="https://raw.githubusercontent.com/intellifactory/websharper.remarkable/master/docs/remarkable.md" />
      <page key="cytoscape"
            title="Cytoscape.js"
            src="https://raw.githubusercontent.com/intellifactory/websharper.cytoscape/master/doc/doc.md" />
      <page key="introjs"
            title="IntroJS"
            src="https://raw.githubusercontent.com/intellifactory/websharper.introjs/master/doc/doc.md" />
      <page key="jspdf"
            title="JsPDF"
            src="https://raw.githubusercontent.com/intellifactory/websharper.jspdf/master/doc/doc.md" />
      <page key="mediumeditor"
            title="Medium Editor"
            src="https://raw.githubusercontent.com/intellifactory/websharper.mediumeditor/master/doc/doc.md" />
  </section>
  <section title="Working with Math">
    <page key="math"
          title="Math in WebSharper"
          src="https://raw.githubusercontent.com/intellifactory/websharper.mathjs/master/doc/Math.md" />
    <page key="mathrender"
          title="Rendering expressions"
          src="https://raw.githubusercontent.com/intellifactory/websharper.mathjax/master/doc/mathrender.md" />
  </section>
  <section title="Tutorials" route="tutorials">
     <page key="bookcollection"
      title="Book Collection (C#)"
      src="https://raw.githubusercontent.com/websharper-samples/BookCollection/master/BookCollection.md"
      lang="csharp"
      description="A simple CRUD application" />
    <page key="piglet-suggestions"
      title="Piglet with Suggestions (F#)"
      src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/tutorials/PigletsAC.md"
      description="Learn how to build an auto updating combobox with Piglets" />
     <page key="domjs-wig"
      title="DOM.js in WIG (F#)"
      src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/tutorials/DomJS-WIG.md"
      description="Learn how to use WIG with a real-life JavaScript library" />
     <page key="rest-api"
      title="Implementing a REST API (F#)"
      src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/tutorials/REST.md"
      description="Learn how to implement a REST API with Sitelets" />
     <page key="livedata"
      title="LiveData mini-chat (F#)"
      src="https://raw.githubusercontent.com/intellifactory/websharper.docs/master/tutorials/LiveData.md"
      description="Implement a MongoDB-backed mini chat application" />
  </section>
</folder>
