<!-- Configure the documentation browser at websharper.com/docs.
     Attributes:
          @key: the URL suffix used after /docs/ to refer to the page (will be escaped)
          @title: the title of the page, used in the sidebar
          @src: the input file for the given page
-->
<folder>
  <section title="Basics">
    <page key="overview"
          title="Overview"
          src="local:../../Animated-Overview.md" />
    <page key="contributing"
          title="Contributing"
          src="https://raw.githubusercontent.com/dotnet-websharper/core/master/CONTRIBUTING.md" />
    <page key="sitelets"
          title="Requests and content"
          src="local:sitelets.md" />
    <page key="ui"
          title="Reactive HTML"
          src="local:ui.md" />
    <page key="testing"
          title="Unit testing"
          src="local:testing.md" />
  </section>
  <section title="Install and configure">
    <page key="install"
          title="Installing"
          src="local:../Install.md" />
    <page key="templates"
          title="Project Templates"
          src="local:../ProjectTemplates.md" />
    <page key="project-variables"
          title="Compiler settings"
          src="local:../Configuration.md" />
    <page key="runtime-variables"
          title="Runtime settings"
          src="local:../RuntimeConfiguration.md" />
    <page key="aspnet"
          title="ASP.NET integration"
          src="local:../AspNet.md" />
    <page key="aspnetmvc"
          title="ASP.NET MVC integration"
          src="local:../AspNetMvc.md" />
    <page key="aspnetcore"
          title="ASP.NET Core integration"
          src="local:AspNetCore.md" />
    <page key="owin"
          title="OWIN integration"
          src="local:../Owin.md" />
  </section>
  <section title="JavaScript">
    <page key="attributes"
          title="Attribute reference"
          src="local:Attributes-CSharp.md" />
    <page key="remoting"
          title="Remoting"
          src="local:Remoting-CSharp.md" />
    <page key="translation"
          title="Translation"
          src="local:Translation-CSharp.md" />
    <page key="json"
          title="JSON Serialization"
          src="local:Json.md" />
    <page key="source-mapping"
          title="Source maps"
          src="local:../SourceMapping.md" />
    <page key="web-workers"
          title="Web Workers"
          src="local:WebWorkers.md" />
  </section>
  <section title="Interoperability">
    <page key="cs-fs-interop"
          title="C#-F# interoperability"
          src="local:../CS-FS-Interop.md" />
    <page key="cs-support"
          title="C# features"
          src="local:../CSharpSupport.md" />
    <page key="cs-linq"
          title="C# LINQ"
          src="local:../Linq-CSharp.md" />
    <page key="async"
          title="F# async workflows"
          src="local:../Async.md" />
    <page key="cs-async"
          title="C# Task-based async"
          src="local:../Async-CSharp.md" />
    <page key="ts-output"
          title="TypeScript output"
          src="local:../TypeScriptOutput.md" />
  </section>
  <section title="Server side">
    <page key="web-context"
          title="Web Context"
          src="local:WebContext.md" />
  </section>
  <section title="Sample applications">
     <page key="bookcollection"
           title="Book Collection"
           src="https://raw.githubusercontent.com/websharper-samples/BookCollection/master/BookCollection.md"
           description="A simple CRUD application" />
    </section>
</folder>
