<!-- Configure the documentation browser at websharper.com/docs.
     Attributes:
          @key: the URL suffix used after /docs/ to refer to the page (will be escaped)
          @title: the title of the page, used in the sidebar
          @src: the input file for the given page
-->
<folder>
  <section title="Basics">
    <page key="overview"
          title="Overview"
          src="local:../../Animated-Overview.md" />
    <page key="contributing"
          title="Contributing"
          src="https://raw.githubusercontent.com/dotnet-websharper/core/master/CONTRIBUTING.md" />
    <page key="sitelets"
          title="Requests and content"
          src="local:sitelets.md" />
    <page key="ui"
          title="Reactive HTML"
          src="local:ui.md" />
    <page key="testing"
          title="Unit testing"
          src="local:testing.md" />
  </section>
  <section title="Install and configure">
    <page key="install"
          title="Installing"
          src="local:../Install.md" />
    <page key="templates"
          title="Project Templates"
          src="local:../ProjectTemplates.md" />
    <page key="project-variables"
          title="Compiler settings"
          src="local:../Configuration.md" />
    <page key="runtime-variables"
          title="Runtime settings"
          src="local:../RuntimeConfiguration.md" />
    <page key="aspnet"
          title="ASP.NET integration"
          src="local:../AspNet.md" />
    <page key="aspnetmvc"
          title="ASP.NET MVC integration"
          src="local:../AspNetMvc.md" />
    <page key="aspnetcore"
          title="ASP.NET Core integration"
          src="local:AspNetCore.md" />
    <page key="owin"
          title="OWIN integration"
          src="local:../Owin.md" />
  </section>
  <section title="MVU Architecture">
    <page key="mvu-overview"
          title="Overview"
          src="https://raw.githubusercontent.com/dotnet-websharper/mvu/master/README.md" />
    <page key="mvu-remotedev"
          title="Time-travel debugging with RemoteDev"
          src="https://raw.githubusercontent.com/dotnet-websharper/mvu/master/docs/remotedev.md" />
  </section>
  <section title="JavaScript">
    <page key="attributes"
          title="Attribute reference"
          src="local:Attributes.md" />
    <page key="remoting"
          title="Remoting"
          src="local:Remoting.md" />
    <page key="translation"
          title="Translation"
          src="local:Translation.md" />
    <page key="json"
          title="JSON Serialization"
          src="local:Json.md" />
    <page key="proxying"
          title="Proxies"
          src="local:Proxies.md" />
    <page key="bindings"
          title="Bindings"
          src="local:Bindings.md" />
    <page key="resources"
          title="Resources"
          src="local:Resources.md" />
    <page key="wig"
          title="WIG"
          src="local:InterfaceGenerator.md" />
    <page key="source-mapping"
          title="Source maps"
          src="local:../SourceMapping.md" />
    <page key="web-workers"
          title="Web Workers"
          src="local:WebWorkers.md" />
  </section>
  <section title="Interoperability">
    <page key="cs-fs-interop"
          title="C#-F# interoperability"
          src="local:../CS-FS-Interop.md" />
    <page key="cs-support"
          title="C# features"
          src="local:../CSharpSupport.md" />
    <page key="cs-linq"
          title="C# LINQ"
          src="local:../Linq-CSharp.md" />
    <page key="async"
          title="F# async workflows"
          src="local:../Async.md" />
    <page key="cs-async"
          title="C# Task-based async"
          src="local:../Async-CSharp.md" />
  </section>
  <section title="Working with Math">
    <page key="math"
          title="Math in WebSharper"
          src="https://raw.githubusercontent.com/dotnet-websharper/mathjs/master/doc/Math.md" />
    <page key="mathrender"
          title="Rendering expressions"
          src="https://raw.githubusercontent.com/dotnet-websharper/mathjax/master/doc/mathrender.md" />
  </section>
  <section title="Server side">
    <page key="web-context"
          title="Web Context"
          src="local:WebContext.md" />
  </section>
  <section title="Extensions" route="extensions">
    <page key="extjs"
          title="ExtJS"
          src="local:extensions/ExtJS.md" />
    <page key="highcharts"
          title="Highcharts"
          src="local:extensions/Highcharts.md" />
    <page key="KendoUI"
          title="KendoUI"
          src="local:extensions/KendoUI.md" />
    <page key="Sencha Architect"
          title="Sencha Architect"
          src="local:extensions/SenchaArchitect.md" />
    <page key="sencha-touch"
          title="Sencha Touch"
          src="local:extensions/SenchaTouch.md" />
    <page key="swiper"
        title="Swiper"
        src="https://raw.githubusercontent.com/dotnet-websharper/swiper/master/doc/doc.md" />
    <page key="golden-layout"
        title="Golden Layout"
        src="https://raw.githubusercontent.com/dotnet-websharper/goldenlayout/master/doc/doc.md" />
    <page key="mathjs"
        title="MathJS"
        src="https://raw.githubusercontent.com/dotnet-websharper/mathjs/master/doc/doc.md" />
    <page key="mathjax"
          title="MathJax"
          src="https://raw.githubusercontent.com/dotnet-websharper/mathjax/master/doc/doc.md" />
    <page key="remarkable"
          title="Remarkable"
          src="https://raw.githubusercontent.com/dotnet-websharper/remarkable/master/docs/remarkable.md" />
    <page key="cytoscape"
          title="Cytoscape.js"
          src="https://raw.githubusercontent.com/dotnet-websharper/cytoscape/master/doc/doc.md" />
    <page key="introjs"
          title="IntroJS"
          src="https://raw.githubusercontent.com/dotnet-websharper/introjs/master/doc/doc.md" />
    <page key="jspdf"
          title="JsPDF"
          src="https://raw.githubusercontent.com/dotnet-websharper/jspdf/master/doc/doc.md" />
    <page key="mediumeditor"
          title="Medium Editor"
          src="https://raw.githubusercontent.com/dotnet-websharper/mediumeditor/master/doc/doc.md" />
  </section>
</folder>
