<!-- Configure the documentation browser at websharper.com/docs.
     Attributes:
          @key: the URL suffix used after /docs/ to refer to the page (will be escaped)
          @title: the title of the page, used in the sidebar
          @src: the input file for the given page
-->
<folder>
  <section title="Basics">
    <page key="overview"
          title="Overview"
          src="local:../../Animated-Overview.md" />
    <page key="sitelets"
          title="Requests and content"
          src="local:sitelets.md" />
    <page key="ui"
          title="Reactive HTML"
          src="local:ui.md" />
    <page key="testing"
          title="Unit testing"
          src="local:testing.md" />
  </section>
  <section title="JavaScript">
    <page key="bindings"
          title="Bindings"
          src="local:Bindings.md" />
    <page key="resources"
          title="Resources"
          src="local:Resources.md" />
    <page key="translation"
          title="Translation"
          src="local:Translation.md" />
    <page key="proxying"
          title="Proxies"
          src="local:Proxies.md" />
    <page key="wig"
          title="WIG"
          src="local:InterfaceGenerator.md" />
    <page key="source-mapping"
          title="Source maps"
          src="local:SourceMapping.md" />
  </section>
  <section title="Interoperability">
    <page key="cs-fs-interop"
          title="C#-F# interoperability"
          src="local:../CS-FS-Interop.md" />
    <page key="cs-support"
          title="C# features"
          src="local:../CSharpSupport.md" />
    <page key="cs-linq"
          title="C# LINQ"
          src="local:../Linq-CSharp.md" />
    <page key="async"
          title="F# async workflows"
          src="local:../Async.md" />
    <page key="cs-async"
          title="C# Task-based async"
          src="local:../Async-CSharp.md" />
    <page key="ts-output"
          title="TypeScript output"
          src="local:../TypeScriptOutput.md" />
  </section>
  <section title="Working with Math">
    <page key="math"
          title="Math in WebSharper"
          src="https://raw.githubusercontent.com/dotnet-websharper/mathjs/master/doc/Math.md" />
    <page key="mathrender"
          title="Rendering expressions"
          src="https://raw.githubusercontent.com/dotnet-websharper/mathjax/master/doc/mathrender.md" />
  </section>
  <section title="Extensions" route="extensions">
    <page key="extjs"
          title="ExtJS"
          src="local:extensions/ExtJS.md" />
    <page key="highcharts"
          title="Highcharts"
          src="local:extensions/Highcharts.md" />
    <page key="KendoUI"
          title="KendoUI"
          src="local:extensions/KendoUI.md" />
    <page key="Sencha Architect"
          title="Sencha Architect"
          src="local:extensions/SenchaArchitect.md" />
    <page key="sencha-touch"
          title="Sencha Touch"
          src="local:extensions/SenchaTouch.md" />
    <page key="swiper"
        title="Swiper"
        src="https://raw.githubusercontent.com/dotnet-websharper/swiper/master/doc/doc.md" />
    <page key="golden-layout"
        title="Golden Layout"
        src="https://raw.githubusercontent.com/dotnet-websharper/goldenlayout/master/doc/doc.md" />
    <page key="mathjs"
        title="MathJS"
        src="https://raw.githubusercontent.com/dotnet-websharper/mathjs/master/doc/doc.md" />
    <page key="mathjax"
          title="MathJax"
          src="https://raw.githubusercontent.com/dotnet-websharper/mathjax/master/doc/doc.md" />
    <page key="remarkable"
          title="Remarkable"
          src="https://raw.githubusercontent.com/dotnet-websharper/remarkable/master/docs/remarkable.md" />
    <page key="cytoscape"
          title="Cytoscape.js"
          src="https://raw.githubusercontent.com/dotnet-websharper/cytoscape/master/doc/doc.md" />
    <page key="introjs"
          title="IntroJS"
          src="https://raw.githubusercontent.com/dotnet-websharper/introjs/master/doc/doc.md" />
    <page key="jspdf"
          title="JsPDF"
          src="https://raw.githubusercontent.com/dotnet-websharper/jspdf/master/doc/doc.md" />
    <page key="mediumeditor"
          title="Medium Editor"
          src="https://raw.githubusercontent.com/dotnet-websharper/mediumeditor/master/doc/doc.md" />
  </section>
</folder>
