<!-- Configure the documentation browser at websharper.com/docs.
     Attributes:
          @key: the URL suffix used after /docs/ to refer to the page (will be escaped)
          @title: the title of the page, used in the sidebar
          @src: the input file for the given page
-->
<folder>
  <section title="Basics">
    <page key="overview"
          title="Overview"
          src="local:../../Animated-Overview.md" />
    <page key="sitelets"
          title="Requests and content"
          src="local:sitelets.md" />
    <page key="ui"
          title="Reactive HTML"
          src="local:ui.md" />
  </section>
  <section title="Extensions">
    <page key="extjs"
          title="ExtJS"
          src="local:extensions/ExtJS.md" />
    <page key="highcharts"
          title="Highcharts"
          src="local:extensions/Highcharts.md" />
    <page key="KendoUI"
          title="KendoUI"
          src="local:extensions/KendoUI.md" />
    <page key="Sencha Architect"
          title="Sencha Architect"
          src="local:extensions/SenchaArchitect.md" />
    <page key="sencha-touch"
          title="Sencha Touch"
          src="local:extensions/SenchaTouch.md" />
    <page key="swiper"
        title="Swiper"
        src="https://raw.githubusercontent.com/intellifactory/websharper.swiper/master/doc/doc.md" />
    <page key="golden-layout"
        title="Golden Layout"
        src="https://raw.githubusercontent.com/intellifactory/websharper.goldenlayout/master/doc/doc.md" />
    <page key="mathjs"
        title="MathJS"
        src="https://raw.githubusercontent.com/intellifactory/websharper.mathjs/master/doc/doc.md" />
    <page key="mathjax"
          title="MathJax"
          src="https://raw.githubusercontent.com/intellifactory/websharper.mathjax/master/doc/doc.md" />
    <page key="remarkable"
          title="Remarkable"
          src="https://raw.githubusercontent.com/intellifactory/websharper.remarkable/master/docs/remarkable.md" />
    <page key="cytoscape"
          title="Cytoscape.js"
          src="https://raw.githubusercontent.com/intellifactory/websharper.cytoscape/master/doc/doc.md" />
    <page key="introjs"
          title="IntroJS"
          src="https://raw.githubusercontent.com/intellifactory/websharper.introjs/master/doc/doc.md" />
    <page key="jspdf"
          title="JsPDF"
          src="https://raw.githubusercontent.com/intellifactory/websharper.jspdf/master/doc/doc.md" />
    <page key="mediumeditor"
          title="Medium Editor"
          src="https://raw.githubusercontent.com/intellifactory/websharper.mediumeditor/master/doc/doc.md" />
  </section>
  <section title="Sample Applications">
    <page key="rest-service"
          title="REST Service"
          src="local:sitelets.md" />
    <page key="csa"
          title="Client-Server Application"
          src="local:sitelets.md" />
    <page key="spa"
          title="Single-Page Application"
          src="local:sitelets.md" />
  </section>
</folder>
