<!-- Configure the documentation browser at websharper.com/docs.
     Attributes:
          @key: the URL suffix used after /docs/ to refer to the page (will be escaped)
          @title: the title of the page, used in the sidebar
          @src: the input file for the given page
-->
<folder>
  <section title="Guides">
    <page key="sitelets"
          title="Routing requests and serving content with Sitelets"
          src="local:sitelets.md" />
    <page key="ui"
          title="UI.Next - Functional Reactive Programming and HTML"
          src="local:ui.md" />
  </section>
</folder>
